<div id="logout" class="dropdown gn-user-menu-dropdown">

    <button role="button" aria-haspopup="true" aria-expanded="false" type="button" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
            <img id="exit" src="https://www.gravatar.com/avatar/974fb040aa559ff7eafd9dd8c05bf0c4/?s=50" />
 
    </button>
    
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="">
        <li>
           <a href="/people/profile/admin/" target="">Profile</a>
        </li>
        <li>
            <a href="/social/recent-activity" target="">Recent activity</a>
        </li>
        <li>
            <a href="/catalogue/#/search/?f=favorite" target="">Favorites</a>
        </li>
        <li>
            <a href="/messages/inbox/" target="">Inbox</a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
            <a href="/admin/" target="">Admin</a>
        </li>
        <li>
            <a href="/geoserver/" target="">GeoServer</a>
        </li>
        <li>
            <a href="/soildata/" target="">Back Office</a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
            <a href="/help/" target="">Help</a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
            <a href="/account/logout/?next=/" target="">Log out</a>
        </li>
    </ul>
</div>            