{% load static %}


{% block extra_style %}
<head>
    <!-- STATIC_ROOT = /mnt/volumes/statics/static/-->
    <link rel="stylesheet" type="text/css" href="/static/css/site_base.css">
</head>
{% endblock %}

{% if request.path == '/' %}
    <div class="s4m-background home">
        <img src="/static/img/soils-background6.jpg">
    </div>     
    <nav id="gn-brand-navbar" class="gn-menu gn-menu-symmetric home">
{% else %}  
    <div class="s4m-background">
        <img src="/static/img/soils-background6.jpg" style="height:100px;">
    </div>
    <nav id="gn-brand-navbar" class="gn-menu gn-menu-symmetric">
{% endif %}
        <div class="gn-menu-container ">
            <div class="gn-menu-content">
                {% block left_menu %}
                <div class="gn-menu-content-left">
                    <ul class="gn-menu-list s4m-menu">
                        <li>
                            <a href="http://www.crs4.it">
                                <img src="/static/img/logo.png">
                            </a>
                            
                        </li>
                    </ul>                 
                </div>
                {% endblock %}
                {% block right_menu %}
                <div class="gn-menu-content-right">
                    <ul class="gn-menu-list s4m-menu">
                        {% if request.path == '/' %}
                        <li style="float: right;">
                        {% else  %} 
                        <li>
                        {% endif %}    
                            {% if not request.user.is_authenticated %}
                            <a id="sign-in" href="/account/login/?next=%2F" class="nav-link btn btn-info">
                                <img src="/static/img/login.svg">
                            </a> 
                            {% else  %} 
                                {% include 'geonode-mapstore-client/snippets/partials/logout.html'%}
                            {% endif %}    
                        </li>
                    </ul>
                </div>
                {% endblock %}
                {% block center_menu %}
                <div class="gn-menu-content-center">
                    {% if request.path == '/' %}  
                    <div class="jumbotron">
                        <h1 class="home">Soils<span>4</span>Med</h1>
                        <p class="home" style="font-weight: 500;"><span>S</span>oils <span>I</span>nformation <span>S</span>ystem</p>
                    </div>
                    {% endif %}
                    <div>
                        {% include './search_bar.html' with search_bar_id='gn-search-bar' %}
                    </div>
                    {% if request.path == '/' %}
                    <div style="margin:1.5rem;">
                        <ul class="gn-menu-list">
                            <ul class="s4m-menu" style="list-style: none;">
                                <li class="s4m-menu-item" style="--s4m-menu-icon-bg: #ce8312;">
                                    <a href="/catalogue/#/?f=dataset&f=map&filter%7Bcategory.identifier.in%7D=soilprofiles">
                                        <div class="s4m-menu-icon">
                                            <img src="/static/img/MSP.svg">
                                        </div>
                                        <div class="s4m-menu-label" style="font-weight: 600;">Soil Profiles</div>
                                    </a>
                                </li>
                                <li class="s4m-menu-item" style="--s4m-menu-icon-bg: #09b014;">
                                    <a href="/catalogue/#/?f=dataset&f=map&filter%7Bcategory.identifier.in%7D=soilsamples">
                                        <div class="s4m-menu-icon">
                                            <img src="/static/img/MSP.svg">
                                        </div>
                                        <div class="s4m-menu-label" style="font-weight: 600;">Soil Samples</div>
                                    </a>
                                </li>
                                <li class="s4m-menu-item" style="--s4m-menu-icon-bg: #a47b08;">
                                    <a href="/catalogue/#/?f=dataset&f=map&filter%7Bcategory.identifier.in%7D=soilmaps">
                                        <div class="s4m-menu-icon">
                                            <img src="/static/img/maps.svg">
                                        </div>
                                        <div class="s4m-menu-label" style="font-weight: 600;">Soil Maps</div>
                                    </a>
                                </li>
                                <li class="s4m-menu-item" style="--s4m-menu-icon-bg: #06a05b;">
                                    <a href="/catalogue/#/?f=dataset&f=map&filter%7Bcategory.identifier.in%7D=soilindices">
                                        <div class="s4m-menu-icon">
                                            <img src="/static/img/climate_change.svg">
                                        </div>
                                        <div class="s4m-menu-label" style="font-weight: 600;">Soil Indices</div>
                                    </a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                    {% endif %}
                </div> 
                {% endblock %} 
                
            </div>
        </div>
    </nav>                      

