{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE %}

<div id="s4m-welcome" style="text-align: center;line-height: 1.4;color: forestgreen;">
    <div>
        <a href="https://www.crs4.it//" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/LogoCRS4.2000x600.png' %}" style="width: 10%;"></a>
        <a href="https://mel.cgiar.org/projects/1866" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/soils-logo1.jpg' %}" style="width: 10%; margin-bottom: 10px; margin-left: 10px;"></a>
        <a href="https://prima-med.org//" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/prima_eu_logo.png' %}" style="width: 25%;"></a>     
    </div>   
</div> 

<nav class="s4m-blue-navbar s4m-blue-navbar-top">
    <div class="s4m-blue-left">
        <ul>
            <li><a href="/catalogue/#/">{% trans "All resources" %}</a></li>
            <li><a href="/catalogue/#/?f=dataset">{% trans "Datasets" %}</a></li>
            <li><a href="/catalogue/#/?f=map">{% trans "Maps" %}</a></li>
            <li><a href="/catalogue/#/?f=document">{% trans "Documents" %}</a></li>
            <li><a href="/catalogue/#/?f=geostory">{% trans "GeoStories" %}</a></li>
            <li><a href="/catalogue/#/?f=dashboard">{% trans "Dashboards" %}</a></li>
        </ul>
    </div>
    <div class="s4m-blue-right">
        <ul>
            <li class="dropdown-container">
                <div class="dropdown">
                    <button class="dropdown-toggle s4m-nav-btn" type="button" data-toggle="dropdown">{% trans "About" %} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="/people/">{% trans "People" %}</a></li>
                        <li><a href="/groups/">{% trans "Groups" %}</a></li>
                    </ul>
                </div>
            </li>
            {% include './language_selector.html' with variant='primary' align_right=True %}
        </ul>
    </div>
</nav>