/* ==========================================
   1. CUSTOM SOILS4MED ELEMENTS (Icons, Text)
   ========================================== */

/* ICON RESIZING TO FIT INTO THE WAVE */

@media (min-width: 600px) {
    ul.s4m-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none;
        color: #ffffff;
        font-size: 1.4em;
        gap: 1.2em;
    }
}

@media only screen and (max-width: 600px)  {
    ul.s4m-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none;
        color: #ffffff;
        font-size: 1.4em;
        gap: 1.0em;
    }
}

.msgapi .gn-legacy .home .jumbotron,
.msgapi .gn-menu-content-center div.jumbotron{
    background-color: transparent;
}

.s4m-icon-row {
    margin: 0.2rem 0; /* Reduces vertical space between rows of icons */
}

.s4m-menu-item {
    --s4m-menu-icon-bg: #b0f40b;
}

.s4m-menu-label {
    color: var(--s4m-menu-icon-bg);
    font-size: 0.35em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
}

.s4m-menu-icon {
    position: relative;
    border-radius: 50%;
    width: 2.0em;
    height: 2.0em;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -4px;
    border: 0.2em solid var(--s4m-menu-icon-bg);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    padding: 1em;
    z-index: 1;
}

.s4m-menu-icon::before {
    transition: transform .2s;
    position: absolute;
    width: 1.4em;
    height: 1.4em;
    background-color: var(--s4m-menu-icon-bg);
    border-radius: 50%;
    content: '';
    z-index: -1;
}

.s4m-menu-icon:hover::before {
    transform: scale(1.1);
}

.s4m-menu-icon::after {
    position: absolute;
    width: 2.0em;
    height: 2.0em;
    border: 0.2em solid #ffffff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    content: '';
    z-index: -1;
    left: calc(100% - 0.4em);
    top: calc(-100% + 0.75em);
}

.s4m-menu-item:last-child .s4m-menu-icon::after {
    display: none;
}

.s4m-menu-item.active .s4m-menu-label,
.s4m-menu-item:hover .s4m-menu-label {
    font-weight: bold;
    color: var(--s4m-menu-icon-bg);
    text-decoration: underline;
    text-decoration-color: var(--s4m-menu-icon-bg);
}

.s4m-menu-icon img {
    transition: transform .2s;
    width: 1.2em;
    height: 1.2em;
    object-fit: contain;
}

.s4m-menu-icon:hover img {
    transform: scale(1.1);
}

/* Other inherited elements */
.gn-content img { width: 100%; }
.gn-content .gn-wave-divider.light img { filter: opacity(0.4); }

.gn-content .section-text {
    text-align: justify;
    padding: 10px 4px;
    color: var(--gn-primary)
}

.gn-content .section-text h2{
    color: darkblue;
    font-weight: 500;
    font-size: x-large;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}

.gn-content .section-text h3{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 400;
    color: darkblue;
}    

div.logos {
    text-align: center;
    padding: 50px;
}    

.gn-content .footer .logos {
    display: flex;
    padding: 0 50px;
    background-color: rgb(228, 245, 251);
}

.gn-content .footer {
    padding: 20px;
    text-align: justify;
}

.policy {
    padding: 20px 0;
    position: sticky;
}

.policy .plink {
    text-align: center;
}
