
##########################################################################################
###### Web GIs Catalogue - GEONODE (it uses geoserver, redis, postgreSQL/Postgis, nginx) 
######
###### You can find more information at 
######    https://docs.geonode.org/en/latest/setup/configuration/settings/
######
### replace the content inside the curly brackets
### instruction:
### 1. {project_name}: your project name e.g my_project !!!no spaces and special characters
### 2. {pgpwd} : Main postgres password (user postgres)
### 3. {dbpwd} :  db password of the {project_name} db user
### 3. {geodbpwd} : db password of the {project_name}_data db user 
### 4. {bodbpwd} : db password of the backoffice db user  
### 5. {sisurl} : public domanin url. In development can be "http://localhost", in production should have certificates "https://mydomain.com"  
### 6. {hostname} : host name accordly with sisurl. In development can be "localhost", in production "mydomain.com"  
### 7. {http_host}: if you don't use https put the hostname else nothing ( if http_host is set then https_host isn't set and viceversa )
### 8. {https_host}: if you use https put the hostname else nothing  ( if http_host is set then https_host isn't set and viceversa )
### 9. {letsencrypt_mode}: see the comment
### 10. {geoserverpwd}: geoserver admin password
### 11. WARNING: in GEOSERVER_JAVA_OPTS replace {sisurl} inside curly brackets.   
### 12. {geonodepwd}: Web GIs Catalogue ADMIN user password  
### 13. {chiefdataemail} : Email of the Data Manager Supervisor 
### 14. {chiefdatapwd} : Password of the Data Manager Supervisor
### 15. {email}: Web GIs Catalogue ADMIN user email 
### 16. {authapikey}: key of the auth api in oauth2  (geonode-geoserver connection) e.g 'fR3cr3t32632354gsdsds5544g332632gbow43ASDD2FFIUIGJGR546B&yy0rut'
### 17. {clientid}: client id in oauth2  (geonode-geoserver connection) e.g 'rwerpljfdsw26utmff32n32632gauffwboaga3003'
### 18. {clientsecret}: client secret phrase in oauth2  (geonode-geoserver connection) e.g 'hjkjt3cr3t32632geo4326sg4g4326gbow43ASDD2FFIUIGJGR546BNC'
### 19. {secret_key}: secret kay e.g 'ttt234juO(cCe,pGovWPNX5RttE345]6o&*^+00WyRbZf{Hn=+PjJ3%<+qq'
### 20. {next_local_key}: Next app key e.g 'ttre425ggg_/4568f01ca34af0d9ffa4978b992c92abe71'
### 21. {recaptcha_public_key} : needs to configure recaptcha
### 22. {recaptcha_privete_key} : needs to configure recaptcha
##########################################################################################
 
COMPOSE_PROJECT_NAME={project_name}
DOCKER_ENV=production

GEONODE_BASE_IMAGE_VERSION=master
NGINX_BASE_IMAGE_VERSION=1.31.3-alpine
LETSENCRYPT_BASE_IMAGE_VERSION=2.6.0-latest
GEOSERVER_BASE_IMAGE_VERSION=2.28.4-latest
POSTGRES_BASE_IMAGE_VERSION=15-3.5-latest

C_FORCE_ROOT=1
FORCE_REINIT=false
INVOKE_LOG_STDOUT=true
DJANGO_SETTINGS_MODULE={project_name}.settings
GEONODE_INSTANCE_NAME=geonode

POSTGRES_USER=postgres
POSTGRES_PASSWORD={pgpwd}
GEONODE_DATABASE={project_name}
GEONODE_DATABASE_USER={project_name}
GEONODE_DATABASE_PASSWORD={dbpwd}
GEONODE_GEODATABASE={project_name}_data
GEONODE_GEODATABASE_USER={project_name}_data
GEONODE_GEODATABASE_PASSWORD={geodbpwd}
BACKOFFICE_DATABASE_PASSWORD={bodbpwd}
BACKOFFICE_DATABASE=backoffice
BACKOFFICE_DATABASE_USER=backoffice
GEONODE_DATABASE_SCHEMA=public
GEONODE_GEODATABASE_SCHEMA=public
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_URL=postgis://{project_name}:{dbpwd}@db:5432/{project_name}
GEODATABASE_URL=postgis://{project_name}_data:{geodbpwd}@db:5432/{project_name}_data
GEONODE_DB_CONN_MAX_AGE=0
GEONODE_DB_CONN_TOUT=5
DEFAULT_BACKEND_DATASTORE=datastore
POSTGRESQL_MAX_CONNECTIONS=200

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD={redis_pwd}
BROKER_URL=redis://:${REDIS_PASSWORD}@redis:6379/0
CELERY_RESULT_BACKEND=redis://:${REDIS_PASSWORD}@redis:6379/1
CELERY_BEAT_SCHEDULER=celery.beat:PersistentScheduler
ASYNC_SIGNALS=True

SITEURL={sisurl}/
NGINX_BASE_URL=${SITEURL}
ALLOWED_HOSTS=[ 'django', 'geonode', 'geoserver', '{hostname}', 'localhost', '127.0.0.1']

GEONODE_LB_HOST_IP=django
GEONODE_LB_PORT=8000

# IP or domain name and port where the server can be reached on HTTPS (leave HOST empty if you want to use HTTP only)
# port where the server can be reached on HTTPS
HTTP_HOST={http_host}
HTTPS_HOST={https_host}

HTTP_PORT=80
HTTPS_PORT=443

# Let's Encrypt certificates for https encryption. You must have a domain name as HTTPS_HOST (doesn't work
# with an ip) and it must be reachable from the outside. This can be one of the following :
# disabled : we do not get a certificate at all (a placeholder certificate will be used)
# staging : we get staging certificates (are invalid, but allow to test the process completely and have much higher limit rates)
# production : we get a normal certificate (default)
LETSENCRYPT_MODE={letsencrypt_mode}

RESOLVER=127.0.0.11

# #################
# geoserver
# #################
GEOSERVER_LB_HOST_IP=geoserver
GEOSERVER_LB_PORT=8080
GEOSERVER_WEB_UI_LOCATION=${SITEURL}geoserver/
GEOSERVER_PUBLIC_LOCATION=${SITEURL}geoserver/
GEOSERVER_LOCATION=http://${GEOSERVER_LB_HOST_IP}:${GEOSERVER_LB_PORT}/geoserver/
GEOSERVER_ADMIN_USER=admin
GEOSERVER_ADMIN_PASSWORD={geoserverpwd}

OGC_REQUEST_TIMEOUT=30
OGC_REQUEST_MAX_RETRIES=1
OGC_REQUEST_BACKOFF_FACTOR=0.3
OGC_REQUEST_POOL_MAXSIZE=10
OGC_REQUEST_POOL_CONNECTIONS=10

# Java Options & Memory
ENABLE_JSONP=true
outFormat=text/javascript
GEOSERVER_JAVA_OPTS="-Djava.awt.headless=true -Xms4G -Xmx4G -Dgwc.context.suffix=gwc -XX:+UnlockDiagnosticVMOptions -XX:+LogVMOutput -XX:LogFile=/var/log/jvm.log -XX:PerfDataSamplingInterval=500 -XX:SoftRefLRUPolicyMSPerMB=36000 -XX:-UseGCOverheadLimit -XX:ParallelGCThreads=4 -Dfile.encoding=UTF8 -Djavax.servlet.request.encoding=UTF-8 -Djavax.servlet.response.encoding=UTF-8 -Duser.timezone=GMT -Dorg.geotools.shapefile.datetime=false -DGS-SHAPEFILE-CHARSET=UTF-8 -DGEOSERVER_CSRF_DISABLED=true -DPRINT_BASE_URL={sisurl}/geoserver/pdf -DALLOW_ENV_PARAMETRIZATION=true -Xbootclasspath/a:/usr/local/tomcat/webapps/geoserver/WEB-INF/lib/marlin-0.9.3-Unsafe.jar -Dsun.java2d.renderer=org.marlin.pisces.MarlinRenderingEngine"


STATIC_ROOT=/mnt/volumes/statics/static/
MEDIA_ROOT=/mnt/volumes/statics/uploaded/
ASSETS_ROOT=/mnt/volumes/statics/assets/
GEOIP_PATH=/mnt/volumes/statics/geoip.db

# Admin Settings
#
# ADMIN_PASSWORD is used to overwrite the GeoNode admin password **ONLY** the first time
# GeoNode is run. If you need to overwrite it again, you need to set the env var FORCE_REINIT,
# otherwise the invoke updateadmin task will be skipped and the current password already stored
# in DB will honored.
ADMIN_USERNAME=admin
ADMIN_PASSWORD={geonodepwd}
ADMIN_EMAIL={email}

CHIEFDATA_USERNAME=chiefdata
CHIEFDATA_PASSWORD={chiefdatapwd}
CHIEFDATA_EMAIL={chiefdataemail}

RECAPTCHA_ENABLED=False # True to protect from bot. Requires configuration
RECAPTCHA_PUBLIC_KEY={recaptcha_public_key}
RECAPTCHA_PRIVATE_KEY={recaptcha_privete_key}

# Session/Access Control
LOCKDOWN_GEONODE=False # !!IMPORTANT  if True blocks anonymous access to the homepage
API_LOCKDOWN=False # !!IMPORTANT if True blocks anonymous access to the API
X_FRAME_OPTIONS="SAMEORIGIN"
SESSION_EXPIRED_CONTROL_ENABLED=True
DEFAULT_ANONYMOUS_PERMISSIONS=none # !!IMPORTANT Default permissions for anonymous users are applied to new data.
DEFAULT_REGISTERED_MEMBERS_PERMISSIONS=none # !!IMPORTANT Default permissions for registered users are applied to new data.

CORS_ALLOW_ALL_ORIGINS=False 
GEOSERVER_CORS_ENABLED=True 
GEOSERVER_CORS_ALLOWED_ORIGINS={sisurl} 
GEOSERVER_CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,HEAD,OPTIONS
GEOSERVER_CORS_ALLOWED_HEADERS=*

# Users Registration
ACCOUNT_OPEN_SIGNUP=True 
ACCOUNT_APPROVAL_REQUIRED=True # !!IMPORTANT Registration need staff approval.
ACCOUNT_CONFIRM_EMAIL_ON_GET=False 
ACCOUNT_LOGIN_METHODS={'email', 'username'}
ACCOUNT_SIGNUP_FIELDS=['email*', 'username*', 'password1*', 'password2*']
ACCOUNT_EMAIL_VERIFICATION=none
ACCOUNT_EMAIL_CONFIRMATION_EMAIL=False
ACCOUNT_EMAIL_CONFIRMATION_REQUIRED=False
AUTO_ASSIGN_REGISTERED_MEMBERS_TO_REGISTERED_MEMBERS_GROUP_NAME=True
AUTO_ASSIGN_REGISTERED_MEMBERS_TO_CONTRIBUTORS=False


# OAuth2
OAUTH2_API_KEY={authapikey}
OAUTH2_CLIENT_ID={clientid}
OAUTH2_CLIENT_SECRET={clientsecret}

TASTYPIE_APIKEY=

DEBUG=False

SECRET_KEY='{secret_key}'

CACHE_BUSTING_STATIC_ENABLED=False

MEMCACHED_ENABLED=False
MEMCACHED_LOCATION=memcached:11211
MEMCACHED_OPTIONS=

MAX_DOCUMENT_SIZE=200
CLIENT_RESULTS_LIMIT=50
API_LIMIT_PER_PAGE=1000

MONITORING_ENABLED=False
MONITORING_DATA_TTL=365
USER_ANALYTICS_ENABLED=True
USER_ANALYTICS_GZIP=True
CENTRALIZED_DASHBOARD_ENABLED=False
MONITORING_SERVICE_NAME=local-geonode
MONITORING_HOST_NAME=geonode


# GIS Client
BING_API_KEY=

# Other Options/Contribs
MODIFY_TOPICCATEGORY=True
AVATAR_GRAVATAR_SSL=True
EXIF_ENABLED=True
CREATE_LAYER=True
FAVORITE_ENABLED=True

# Advanced Workflow
RESOURCE_PUBLISHING=False
ADMIN_MODERATE_UPLOADS=False

# CELERY
# Configurazioni Celery aggiuntive per gestire i task personalizzati
CELERY_TASK_ROUTES={'backoffice.tasks.*': {'queue': 'default'},}
#BACKOFFICE_LAYER_SYNC_ENABLED=True
#BACKOFFICE_LAYER_SYNC_CRONTAB="0 * * * *"     # ogni ora
#BACKOFFICE_LAYER_SYNC_QUEUE="default"  # o il nome della coda Celery che usi

# expressed in KB
# CELERY__MAX_MEMORY_PER_CHILD="200000"
# ##
# Note right autoscale value must coincide with worker concurrency value
# CELERY__AUTOSCALE_VALUES="15,10"
# CELERY__WORKER_CONCURRENCY="10"
# ##
# CELERY__OPTS="--without-gossip --without-mingle -Ofair -B -E"
# CELERY__BEAT_SCHEDULE="/mnt/volumes/statics/celerybeat-schedule"
CELERY__LOG_LEVEL="ERROR"
CELERY__LOG_FILE="/var/log/celery.log"
# CELERY__WORKER_NAME="worker1@%h"

# Common containers restart policy
RESTART_POLICY_CONDITION="on-failure"
RESTART_POLICY_DELAY="5s"
RESTART_POLICY_MAX_ATTEMPTS="3"
RESTART_POLICY_WINDOW=120s

DEFAULT_MAX_UPLOAD_SIZE=5368709120
DEFAULT_MAX_PARALLEL_UPLOADS_PER_USER=5

##########################################################################################
###### Back Office Nextjs web app  
######
##########################################################################################

NEXT_PUBLIC_REQUEST_TIMEOUT=60
NEXT_PUBLIC_LOCAL_KEY='{next_local_key}'
NEXT_PUBLIC_CATALOGUE_BASE_URL=${SITEURL}

NEXT_PUBLIC_URL=${SITEURL}soildata 
NEXT_PUBLIC_BACKOFFICE_API_BASE_URL=${SITEURL}api/backoffice
NEXT_PUBLIC_CATALOGUE_API_BASE_URL=${SITEURL}api/v2
NEXT_PUBLIC_GEOSERVER_BASE_URL=${SITEURL}geoserver