{% load static %}


<footer class="gn-footer"">
    <ul>
        <li>
            <a href="https://geonode.org/" class="nav-link" target="_blank">
                <span>Geonode</span>
            </a>
        </li>
        <li>
            <a href="/privacy_cookies/" class="nav-link">
                <span>Privacy Policy</span>
            </a>                    
        </li>
        <li>
            <a href="/about/" class="nav-link">
                <span>About</span>
            </a>
        </li>
    </ul>
   
<!--    
    <div class="logos">
        <a href="https://prima-med.org//" target="_blank" rel="noopener noreferrer"><img src="{% static 'my_geo/static/img/prima-logo-hor.jpg' %}" style="width: 10%;"></a>
        <a href="https://prima-med.org//" target="_blank" rel="noopener noreferrer"><img src="{% static 'my_geo/static/img/soils-logo1.jpg' %}" style="width: 10%; margin-bottom: 10px; margin-left: 10px;"></a>
    
    </div> 

<div class="policy">
<div class="row">
<div class="col-xs-12 divider">
<hr>
</div>
</div>
<div class="plink">
<a href="https://wedocs.unep.org/bitstream/handle/20.500.11822/37132/21ig25_27_2510_eng.pdf" target="_blank" rel="noopener noreferrer">Data Policy</a> | <a href="/privacy_cookies/" target="_blank">Privacy Policy</a>
</div>
</div>
    </div>
</div> -->
</footer>