{% extends "geonode_base.html" %}

{% load i18n %}
{% block title %} {% trans "About S4m" %} — {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header">
  <img src="/static/img/about.png" style="margin-left: 80px;"/>
</div>
<p style="text-align: justify;">A Soil Information System (SIS) is an integrated information system designed to facilitate the storage, 
  analysis, management and dissemination of soil data.</p> 
<p style="text-align: justify;">To assess and monitor soil health and promote sustainable soil management in the Mediterranean region, 
  there is a pressing need to improve the availability and accessibility of soil data.</p> 
<p style="text-align: justify;">One of the objectives of the SOILS4MED project (SOIL health monitoring and information systems FOR sustainable 
  soil management in the MEDiterranean region) which addresses this need by designing and developing a federated network of country-based soil 
  information systems.</p> 
<p style="text-align: justify;">This network aims to improve the interoperability, management, governance, and utilization of soil data across 
  the Mediterranean region by establishing a federated architecture of SISs, starting with the development of a harmonized data model aligned 
  with the World Reference Base for Soil Resources (WRB 2022), alongside the implementation of core functionalities for the ingestion, 
  integration, and management of both legacy and newly acquired soil data.</p>
<p style="text-align: justify;">The SIS was designed and implemented by <a href="https://www.crs4.it/projects/soils4med/">CRS4</a> 
  (Roberto Demontis, Eva Lorrai, Laura Muscas, Piergiorgio Palla) with the support of all project partners.
</p>

<div class="m-8">
  <img src="/static/img/about_footer.png" />
</div>
<div>
  <p style="text-align: left;"><a href="https://www.facebook.com/SMSoilLandscape">facebook.com/SMSoilLandscape</a></p>
  <p style="text-align: left;"><a href="https://x.com/SMSoilLandscape">x.com/SMSoilLandscape</a></p>
  <p style="text-align: left;"><a href="https://linkedin.com/company/smsoillandscape/">linkedin.com/company/smsoillandscape/</a></p>
  <p style="text-align: left;"><a href="https://mel.cgiar.org/projects/soils4med">mel.cgiar.org/projects/soils4med</a></p>
  <p style="text-align: left;"><a href="smsl@uniss.it">smsl@uniss.it</a> | <a href="clzucca@uniss.it">clzucca@uniss.it</a></p>
</div>
<div class="m-8">
  <p style="text-align: left;">Prof. Claudio Zucca, PhD</p>
  <p style="text-align: left;">Dept. of Agricultural Sciences - Delegate for International relationships</p>
  <p style="text-align: left;">University of Sassari</p>
  <p style="text-align: left;">Dipartimento di Agraria</p>
  <p style="text-align: left;">Viale Italia 39, 07100-Sassari, Italia</p>
  <p style="text-align: left;">Tel. Office 0039 079 229268 - Cell 0039 3292604269</p>
</div>
{% endblock %}