{% extends "geonode_base.html" %}

{% load i18n %}
{% block title %} {% trans "Data Policy" %} — {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "Data Policy" %}</h2>
</div>

<p style="text-align: justify;"><strong>{{ "Introduction"|upper }}</strong></hp>
<p style="text-align: justify;"> ...to add</p>
<p style="text-align: justify;"> ...to add</p>



<div class="m-8">
  <img src="/static/img/about_footer.png" />
</div>
<div class="m-8">
  <p style="text-align: left;">Prof. Claudio Zucca, PhD</p>
  <p style="text-align: left;">Dept. of Agricultural Sciences - Delegate for International relationships</p>
  <p style="text-align: left;">University of Sassari</p>
  <p style="text-align: left;">Dipartimento di Agraria</p>
  <p style="text-align: left;">Viale Italia 39, 07100-Sassari, Italia</p>
  <p style="text-align: left;">Tel. Office 0039 079 229268 - Cell 0039 3292604269</p>
</div>
{% endblock %}