#git+https://github.com/GeoNode/geonode.git@5.0.0#egg=GeoNode
#geonode-importer==1.1.2
GeoNode @ git+https://github.com/GeoNode/geonode.git@5.0.0
cachetools
pymemcache
#psycopg2-binary>=2.9,<3
django-extensions

